<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup form </title>
</head>
<body>
    <p>
        hi everyone, welcome to the signup form 

    </p>
</body>
<style>
   body{
    background-color: rgb(255, 255, 255);
    color:rgb(255, 255, 255) 
   }    
   p{
    text-align: center;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;

    
   }
</style>
</html>
